body
{
  color:#211150;
  background:#c7c7c7;
}

article
{
  text-align:center;
}

h1
{
  font-family:"lora",Georgia,sans-serif;
}
h2
{
  font-family:"lora",Georgia,sans-serif;
  color:#FFFFFF;
  background:#211150;
  padding-top:1.25em;
  padding-bottom:1.25em;
}

ul
{
  text-align:left;
  width:50%;
  margin-left:auto;
  margin-right:auto;
}
